#FONT {
	font-size: 40pt;
	font-style: Tahoma;
}

#A1{
	width: 100px;
	height: 100px;
	background:  #dfe1e7;
	margin-right: auto;
	margin-left: auto;

}
#A2{
	width: 100px;
	height: 100px;
	background: #eeeff2;
	margin-right: auto;
	margin-left: auto;

}
#A3{
	width: 100px;
	height: 100px;
	background:  #dfe1e7;
	margin-right: auto;
	margin-left: auto;

}
#A4{
	width: 100px;
	height: 100px;
	background: #eeeff2;
	margin-right: auto;
	margin-left: auto;

}
#A5{
	width: 100px;
	height: 100px;
	background:  #dfe1e7;
	margin-right: auto;
	margin-left: auto;

}

#A6{
	width: 100px;
	height: 100px;
	background:  #687291;
	margin-right: auto;
	margin-left: auto;

}